# 簡訊內容處理字串方法
## pandas.Series.str
* pandas.core.strings.StringMethods 的別名
* Pandas 提供許多處理字串函式

<br>
資料網址：https://raw.githubusercontent.com/Code-Gym/python-dataset/master/msg.txt

In [9]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/msg.txt',
                  sep='\t',
                  names=['status', 'msg'])
data

     status                                                msg
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

## 處理字串基本函式
* upper
* lower
* title
* len
* replace
* split

In [10]:
#Series.str():str在Series物件中使用，所以要先找出特定欄位(Series)再字串函式
data['status'].str.upper()

0        HAM
1        HAM
2       SPAM
3        HAM
4        HAM
        ...
5567    SPAM
5568     HAM
5569     HAM
5570     HAM
5571     HAM
Name: status, Length: 5572, dtype: object

## Python 也有處理字串的函式
確認你要處理的資料是Pandas的Series物件，還是Python的字串物件<br>
Python 處理字串的函式：https://www.w3schools.com/python/python_ref_string.asp

In [11]:
data['msg'][0].upper()

'GO UNTIL JURONG POINT, CRAZY.. AVAILABLE ONLY IN BUGIS N GREAT WORLD LA E BUFFET... CINE THERE GOT AMORE WAT...'

### 函式title( )
第一個英文字母大寫

In [12]:
data['msg'].str.title()

0       Go Until Jurong Point, Crazy.. Available Only ...
1                           Ok Lar... Joking Wif U Oni...
2       Free Entry In 2 A Wkly Comp To Win Fa Cup Fina...
3       U Dun Say So Early Hor... U C Already Then Say...
4       Nah I Don'T Think He Goes To Usf, He Lives Aro...
                              ...
5567    This Is The 2Nd Time We Have Tried 2 Contact U...
5568                 Will Ü B Going To Esplanade Fr Home?
5569    Pity, * Was In Mood For That. So...Any Other S...
5570    The Guy Did Some Bitching But I Acted Like I'D...
5571                           Rofl. Its True To Its Name
Name: msg, Length: 5572, dtype: object

### 函式len( )
字串長度

In [13]:
data['msg'].str.len()

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     36
5569     57
5570    125
5571     26
Name: msg, Length: 5572, dtype: int64

### 函式replace( )
replace('ham', 'not spam')

In [14]:
data['status'].str.replace('ham', 'not spam')

0       not spam
1       not spam
2           spam
3       not spam
4       not spam
          ...
5567        spam
5568    not spam
5569    not spam
5570    not spam
5571    not spam
Name: status, Length: 5572, dtype: object

### 函式split( )
分隔字串

In [16]:
'a, b, c'.split(',')[1]

' b'

In [17]:
data['msg'].str.split(',')[0]

['Go until jurong point',
 ' crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...']