# 鳶尾花數據資料
資料來源介紹：https://zh.wikipedia.org/wiki/%E5%AE%89%E5%BE%B7%E6%A3%AE%E9%B8%A2%E5%B0%BE%E8%8A%B1%E5%8D%89%E6%95%B0%E6%8D%AE%E9%9B%86 <br>
資料下載網址：https://raw.githubusercontent.com/Code-Gym/python-dataset/master/iris.csv

In [1]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/iris.csv',
                  names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### 刪除欄位class

In [2]:
del iris['class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### 確認DataFrame中是否有空值
isnull ( )

In [4]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

### 建立空值
在第1列到第3列，欄位sepal_width之間建立空值<br>
np.nan

In [5]:
import numpy as np

iris.iloc[1:4, 1:2] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          NaN           1.4          0.2
2           4.7          NaN           1.3          0.2
3           4.6          NaN           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
iris.isnull().sum()

sepal_length    0
sepal_width     3
petal_length    0
petal_width     0
dtype: int64

### 將DataFrame空值，替換為數字0
fillna ( )

In [7]:
iris.fillna(0, inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          0.0           1.4          0.2
2           4.7          0.0           1.3          0.2
3           4.6          0.0           1.5          0.2
4           5.0          3.6           1.4          0.2

### 刪除DataFrame中資料為空值的列數
dropna ( )<br>
官網文件：https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [8]:
iris.iloc[1:4, 1:2] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          NaN           1.4          0.2
2           4.7          NaN           1.3          0.2
3           4.6          NaN           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
iris = iris.dropna(axis = 'index', how='any')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

### 重置索引值
reset_index ( )

In [10]:
#drop=True代表要丟棄原本的index
iris = iris.reset_index(drop=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2