# 各國飲酒消費資料分析

## 酒的分類
* Beer啤酒類
* Spirit烈酒類
* Wine葡萄酒類

各國飲酒消費資料網址：https://raw.githubusercontent.com/Code-Gym/python-dataset/master/drinks.csv

In [1]:
import pandas as pd
drinks = pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/drinks.csv',
                   sep=',',
                   index_col='country')
drinks

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF
...,...,...,...,...,...
Venezuela,333,100,3,7.7,SA
Vietnam,111,2,1,2.0,AS
Yemen,6,0,0,0.1,AS
Zambia,32,19,4,2.5,AF
Zimbabwe,64,18,4,4.7,AF

## 全世界平均消費啤酒(beer)的數量是多少？

In [7]:
drinks.beer_servings.mean()

106.16062176165804

## 每個洲平均消費啤酒(beer)的數量是多少？

In [8]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

## 每個洲消費葡萄酒(Win) 的最大值、最小值和平均值是多少？

In [9]:
drinks.groupby('continent').wine_servings.agg(['max','min','mean'])

           max  min        mean
continent
AF         233    0   16.264151
AS         123    0    9.068182
EU         370    0  142.222222
OC         212    0   35.625000
SA         221    1   62.416667

In [6]:
#找出消費葡萄酒最多的國家
drinks.wine_servings.sort_values(ascending=False).head(1)

country
France    370
Name: wine_servings, dtype: int64