# 練習
### 餐廳來客數資料分析
資料連結：https://raw.githubusercontent.com/Code-Gym/python-dataset/master/RestaurantVisitors.csv

In [2]:
import pandas as pd

res = pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/RestaurantVisitors.csv',sep=',')
res.head()

,date,weekday,holiday,holiday_name,rest1,rest2,rest3,rest4,total
0,1/1/2016,Friday,1,New Year's Day,65.0,25.0,67.0,139.0,296.0
1,1/2/2016,Saturday,0,na,24.0,39.0,43.0,85.0,191.0
2,1/3/2016,Sunday,0,na,24.0,31.0,66.0,81.0,202.0
3,1/4/2016,Monday,0,na,23.0,18.0,32.0,32.0,105.0
4,1/5/2016,Tuesday,0,na,2.0,15.0,38.0,43.0,98.0

In [3]:
res.dtypes

date             object
weekday          object
holiday           int64
holiday_name     object
rest1           float64
rest2           float64
rest3           float64
rest4           float64
total           float64
dtype: object

## 將date欄位轉為DatetimeIndex

In [5]:
#將date欄位轉為datetime，再傳給Dataframe中的index
res.index = pd.to_datetime(res['date'])
res.head()

,date,weekday,holiday,holiday_name,rest1,rest2,rest3,rest4,total
date,,,,,,,,,
2016-01-01,1/1/2016,Friday,1,New Year's Day,65.0,25.0,67.0,139.0,296.0
2016-01-02,1/2/2016,Saturday,0,na,24.0,39.0,43.0,85.0,191.0
2016-01-03,1/3/2016,Sunday,0,na,24.0,31.0,66.0,81.0,202.0
2016-01-04,1/4/2016,Monday,0,na,23.0,18.0,32.0,32.0,105.0
2016-01-05,1/5/2016,Tuesday,0,na,2.0,15.0,38.0,43.0,98.0

# 第一間餐廳rest1，每週來客數總和多少？

In [6]:
res.index.week
res['week']=res.index.week
res

/var/folders/pm/t7xh08q53hvbcx0zynj45_wr0000gn/T/ipykernel_6543/3716707985.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  res.index.week
/var/folders/pm/t7xh08q53hvbcx0zynj45_wr0000gn/T/ipykernel_6543/3716707985.py:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  res['week']=res.index.week

,date,weekday,holiday,holiday_name,rest1,rest2,rest3,rest4,total,week
date,,,,,,,,,,
2016-01-01,1/1/2016,Friday,1,New Year's Day,65.0,25.0,67.0,139.0,296.0,53
2016-01-02,1/2/2016,Saturday,0,na,24.0,39.0,43.0,85.0,191.0,53
2016-01-03,1/3/2016,Sunday,0,na,24.0,31.0,66.0,81.0,202.0,53
2016-01-04,1/4/2016,Monday,0,na,23.0,18.0,32.0,32.0,105.0,1
2016-01-05,1/5/2016,Tuesday,0,na,2.0,15.0,38.0,43.0,98.0,1
...,...,...,...,...,...,...,...,...,...,...
2017-05-27,5/27/2017,Saturday,0,na,NaN,NaN,NaN,NaN,NaN,21
2017-05-28,5/28/2017,Sunday,0,na,NaN,NaN,NaN,NaN,NaN,21
2017-05-29,5/29/2017,Monday,1,Memorial Day,NaN,NaN,NaN,NaN,NaN,22
2017-05-30,5/30/2017,Tuesday,0,na,NaN,NaN,NaN,NaN,NaN,22
2017-05-31,5/31/2017,Wednesday,0,na,NaN,NaN,NaN,NaN,NaN,22

In [10]:
res.groupby('week').rest1.sum()

week
1     409.0
2     403.0
3     518.0
4     493.0
5     576.0
6     524.0
7     481.0
8     630.0
9     545.0
10    618.0
11    592.0
12    534.0
13    558.0
14    554.0
15    512.0
16    513.0
17    299.0
18    208.0
19    172.0
20    221.0
21    231.0
22    223.0
23    262.0
24    364.0
25    357.0
26    284.0
27    340.0
28    282.0
29    258.0
30    267.0
31    249.0
32    211.0
33    207.0
34    220.0
35    235.0
36    290.0
37    231.0
38    272.0
39    208.0
40    280.0
41    252.0
42    234.0
43    254.0
44    297.0
45    255.0
46    246.0
47    294.0
48    226.0
49    225.0
50    274.0
51    303.0
52    337.0
53    113.0
Name: rest1, dtype: float64

In [ ]:
#每間餐廳，每週來客數總和多少？¶
res.groupby('week')[['rest1','rest2','rest3','rest4']].sum()

## 假日四間餐廳平均來客數
提示：
* 使用欄位Holiday找出假日資料
* 使用loc過濾四間餐廳的來客數
* 最後算出平均值

In [14]:
res[res.holiday == 1].loc[:,'rest1':'rest4'].mean()

rest1    48.56250
rest2    33.15625
rest3    43.65625
rest4    68.34375
dtype: float64

In [16]:
#假日及六日的平均來客數
res[(res.holiday==1)|(res.weekday=='Saturday')|(res.weekday=='Sunday')].loc[:,'rest1':'rest4'].mean()

rest1    54.59375
rest2    32.73750
rest3    51.70000
rest4    60.62500
dtype: float64

## 非假日四間餐廳平均來客數

In [17]:
res[res.holiday !=1].loc[:,'rest1':'rest4'].mean()

rest1    36.742152
rest2    26.733184
rest3    30.679372
rest4    35.338565
dtype: float64

In [20]:
# 隱藏題，非假日、非六日，四間餐廳的平均來客數
res[(res.holiday !=1)&(res.weekday !='Saturday')&(res.weekday !='Sunday')].loc[:,'rest1':'rest4'].mean()

rest1    28.949686
rest2    24.358491
rest3    21.408805
rest4    25.937107
dtype: float64