# 統計應用實戰分析
## 愛爾蘭風速資料
Pandas read_csv : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html<br>
正規化參考網站：https://cheatography.com/davechild/cheat-sheets/regular-expressions/

In [1]:
import pandas as pd
import datetime

data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(data_url, sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

## 修正日期錯誤
* 資料的年份，從兩千開始補上前面的字元
* 資料年份來到70時，又從19開始

<br>修正方式:大於2060年的資料減去100，建立新的日期欄位資訊

In [2]:
def fix(x):
    year = x.year - 100 if x.year > 2060 else x.year
    return datetime.datetime(year, x.month, x.day)

data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix)
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

## 將日期欄位設定為index

In [3]:
data.index = pd.to_datetime(data['Yr_Mo_Dy'])
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1961-01-01,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

## 取得每一個地區風速的統計資料，包含平均值、標準差等統計資訊

In [4]:
data.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

## 改變統計資料的軸線，取得每一天的風速最小值、最大值、平均值和標準差

In [5]:
day_stats = pd.DataFrame()
day_stats['min'] = data.min(axis = 1)
day_stats['max'] = data.max(axis = 1)
day_stats['mean'] = data.mean(axis = 1)
day_stats['std'] = data.std(axis = 1)
day_stats

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

## 每個地區一月的平均風速

In [7]:
data.loc[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

## 個地區每一年每個月的平均風速
偏移別名參考網址：https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [9]:
data.index.to_period('M')

PeriodIndex(['1961-01', '1961-01', '1961-01', '1961-01', '1961-01', '1961-01',
             '1961-01', '1961-01', '1961-01', '1961-01',
             ...
             '1978-12', '1978-12', '1978-12', '1978-12', '1978-12', '1978-12',
             '1978-12', '1978-12', '1978-12', '1978-12'],
            dtype='period[M]', name='Yr_Mo_Dy', length=6574, freq='M')

In [10]:
data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

## 每個地區每個月的平均風速、最小風速、最大風速

In [11]:
monthly = data.groupby(data.index.to_period('M')).agg(['mean', 'min', 'max'])
monthly

                RPT                     VAL                     ROS        \
               mean   min    max       mean   min    max       mean   min
Yr_Mo_Dy
1961-01   14.841333  4.92  25.04  11.988333  3.42  23.91  13.431613  7.08
1961-02   16.269286  6.04  25.80  14.975357  7.08  24.21  14.441481  6.08
1961-03   10.890000  4.88  18.25  11.296452  2.58  17.00  10.752903  4.79
1961-04   10.722667  4.00  21.09   9.427667  3.71  15.41   9.998000  2.54
1961-05    9.860968  3.54  23.00   8.850000  3.58  19.79  10.818065  3.58
...             ...   ...    ...        ...   ...    ...        ...   ...
1978-08    9.645161  3.04  19.33   8.259355  1.75  18.25   9.032258  4.54
1978-09   10.913667  0.79  26.75  10.895000  1.21  19.21  10.635000  3.42
1978-10    9.897742  2.04  21.67   8.670968  0.21  21.00   9.295806  3.54
1978-11   16.151667  7.38  30.21  14.802667  4.54  27.63  13.508000  7.29
1978-12   16.175484  6.21  29.33  13.748065  3.21  24.79  15.635161  7.21

                      KIL  ...    MUL        CLO                     BEL  \
            max      mean  ...    max       mean   min    max       mean
Yr_Mo_Dy                   ...
1961-01   25.84  7.736774  ...  21.46  10.107419  2.67  19.95  13.880968
1961-02   22.42  9.230741  ...  18.96  12.714286  5.50  20.04  18.583214
1961-03   16.38  7.284000  ...  17.54  11.251935  5.09  15.79  16.410968
1961-04   18.29  5.830667  ...  13.29   7.237000  2.71  14.37  11.147333
1961-05   21.21  5.905333  ...  17.33   8.499355  1.83  17.92  11.900323
...         ...       ...  ...    ...        ...   ...    ...        ...
1978-08   20.17  4.502903  ...  15.87   5.536774  0.79  15.09  10.466774
1978-09   21.50  5.725000  ...  17.00   8.939000  0.71  18.12  15.680333
1978-10   16.25  4.721290  ...  14.62   8.243871  1.92  15.37  13.776774
1978-11   25.46  7.317333  ...  18.46  10.676000  3.29  18.08  17.404667
1978-12   27.29  7.094839  ...  21.00  11.028710  2.67  21.50  13.859677

                             MAL
           min    max       mean    min    max
Yr_Mo_Dy
1961-01   5.25  27.71  14.703226   5.17  27.63
1961-02   9.17  29.63  15.411786   6.67  23.87
1961-03   7.21  23.45  15.720000   5.54  22.95
1961-04   5.13  19.21  10.278333   2.67  20.46
1961-05   4.79  28.08  12.011613   3.33  26.58
...        ...    ...        ...    ...    ...
1978-08   5.00  21.79  12.054194   3.92  27.25
1978-09   4.71  26.83  19.391333   5.13  33.50
1978-10   5.09  21.29  17.150000   4.58  28.21
1978-11   4.92  24.17  20.723000  11.08  29.04
1978-12   1.21  26.08  21.371613   6.92  41.46

[216 rows x 36 columns]

## 前12筆資料中，從地區RPT到KIL的平均風速、最小風速、最大風速

In [12]:
monthly.loc[monthly.index[0:12], 'RPT':'KIL']

                RPT                     VAL                     ROS        \
               mean   min    max       mean   min    max       mean   min
Yr_Mo_Dy
1961-01   14.841333  4.92  25.04  11.988333  3.42  23.91  13.431613  7.08
1961-02   16.269286  6.04  25.80  14.975357  7.08  24.21  14.441481  6.08
1961-03   10.890000  4.88  18.25  11.296452  2.58  17.00  10.752903  4.79
1961-04   10.722667  4.00  21.09   9.427667  3.71  15.41   9.998000  2.54
1961-05    9.860968  3.54  23.00   8.850000  3.58  19.79  10.818065  3.58
1961-06    9.904138  4.00  15.92   8.520333  3.25  14.54   8.867000  5.13
1961-07   10.614194  3.04  22.50   8.221613  2.92  19.29   9.110323  4.08
1961-08   12.035000  2.88  18.91  10.133871  4.42  22.00  10.335806  2.46
1961-09   12.531000  5.00  28.75   9.656897  1.13  22.08  10.776897  2.42
1961-10   14.289667  3.13  28.62  10.915806  2.75  21.25  12.236452  4.21
1961-11   10.896333  5.46  23.75   8.592667  3.29  18.71  11.850333  3.83
1961-12   14.973548  5.04  24.41  11.903871  3.08  21.37  13.980323  2.13

                      KIL
            max      mean   min    max
Yr_Mo_Dy
1961-01   25.84  7.736774  0.67  18.54
1961-02   22.42  9.230741  2.21  15.37
1961-03   16.38  7.284000  2.75  12.00
1961-04   18.29  5.830667  1.58  11.63
1961-05   21.21  5.905333  1.04  14.46
1961-06   15.50  6.083000  2.88  10.54
1961-07   15.67  6.340968  1.46  12.42
1961-08   17.83  6.845806  2.37  12.42
1961-09   26.50  7.155517  2.62  21.09
1961-10   23.09  8.154839  1.46  19.38
1961-11   32.71  6.045667  1.50  14.46
1961-12   29.33  7.073871  0.42  15.59